<nav id="bt-menu" class="bt-menu bt-menu-{% if include.menu-show %}open{% else %}close{% endif %}">
    {% if include.menu-button-hidden %}
        <a href="#" class="bt-menu-trigger fullscreen"><span>Menu</span></a>
    {% else %}
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    {% endif %}
    <ul>
        <li><a href="/" class="bt-icon icon-user-outline">Accueil</a></li>
        <li><a href="/presentation/" class="bt-icon icon-sun">Presentation</a></li>
        <li><a href="/musique-et-video/" class="bt-icon icon-windows">Musique et Video</a></li>
        <li><a href="/photo/" class="bt-icon icon-speaker">Photo</a></li>
        <li><a href="/accoustik/" class="bt-icon icon-star">Fatum Accoustik</a></li>
        <li><a href="/contact/" class="bt-icon icon-bubble">Contact</a></li>
    </ul>
</nav>
