<nav id="bt-menu" class="bt-menu bt-menu-{% if include.menu-show %}open{% else %}close{% endif %}">

    <a href="#" class="bt-menu-trigger{% if include.menu-button-hidden %} fullscreen{% endif %}"><span>Menu</span></a>

    <ul>
        <li><a href="/" class="bt-icon icon-home">Accueil</a></li>
        <li><a href="/presentation/" class="bt-icon icon-user-outline">Presentation</a></li>
        <li><a href="/musique/" class="bt-icon icon-speaker">Musique</a></li>
        <!--<li><a href="/photo/" class="bt-icon icon-speaker">Photo</a></li>-->
        <!--<li><a href="/accoustik/" class="bt-icon icon-star">Fatum Accoustik</a></li>-->
        <li><a href="/contact/" class="bt-icon icon-bubble">Contact</a></li>
    </ul>
</nav>
