---
layout: page
section: introduction
title: Concert
menu: false
---
<div id="cbp-so-scroller" class="cbp-so-scroller">
    <section class="cbp-so-section">
        <h2 style="text-align: center;display: block">Concerts</h2>
        <figure class="cbp-so-side cbp-so-side-left responsive-image"
                data-alt="Fatum Fatras en concert"
                data-file="fatumfatras-concert.jpg"
                data-path="/dist/img">
            <noscript>
                <img src="/dist/img/m/fatumfatras-concert.jpg" alt="Fatum Fatras en concert">
            </noscript>
        </figure>
        <article class="cbp-so-side cbp-so-side-right">
            <p>
                Fatum Fatras a déjà joué dans de nombreux lieux: Drom festival, Espace Auzon (Carpentras), Les
                passagers du zinc, Akwaba, La gare du Coustellet, Festival de Robion, Festival Zic des Bartas, Le KFé
                quoi, Festival Guinguettes et compagnie (Palaiseau), Festival les oiseaux de passage, ...
            </p>
            <p>et a partagé la scène avec : La caravane passe, Haidouti orckestar, Idir, Mystère trio, Zaragraf, les tambours du bronx, Miossec ...</p>
        </article>
    </section>
    <section class="cbp-so-section concert">
        <h2>2016</h2>
        <article class="cbp-so-side cbp-so-side-right">
            <ul>
                {% for concert in site.data.concerts2016 %}
                <li>
                    <h3>{% if concert.link %}<a href="{{ concert.link }}" target="_blank">{% endif %}{{ concert.title }}{% if concert.link %}</a>{% endif %}</h3>
                    <time>{{ concert.date }}</time>
                    <address>{{ concert.address }}</address>
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>
    <section class="cbp-so-section concert">
        <h2>2015</h2>
        <article class="cbp-so-side cbp-so-side-right">
            <ul>
                {% for concert in site.data.concerts %}
                <li>
                    <h3>{% if concert.link %}<a href="{{ concert.link }}" target="_blank">{% endif %}{{ concert.title }}{% if concert.link %}</a>{% endif %}</h3>
                    <time>{{ concert.date }}</time>
                    <address>{{ concert.address }}</address>
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>
    <section class="cbp-so-section concert">
        <h2>2014</h2>
        <article class="cbp-so-side cbp-so-side-right">
            <ul>
                {% for concert in site.data.concerts2014 %}
                <li>
                    <h3>{{ concert.title }}</h3>
                    <time>{{ concert.date }}</time>
                    <address>{{ concert.address }}</address>
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>
</div>
