<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pictures.css">
        <link rel="stylesheet" href="/css/icons.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/scroller.css">
        <link rel="stylesheet" href="/fonts/cm_old_western/stylesheet.css">
        <script src="/js/modernizr.custom.js"></script>
    </head>
    <body>

        <div class="container{% if page.section == 'introduction' %} slide{% endif %}">

            {{ content }}

            {% include menu.html menu-show=page.menu menu-button-hidden=page.menu-button-hidden %}

        </div>


        <script src="/js/classie.js"></script>
        <script src="/js/borderMenu.js"></script>
        {% if page.section == "introduction" %}
            <script src="/js/cbpScroller.js"></script>
            <script>
                new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
            </script>
        {% endif %}
    </body>
</html>
