<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

        <link rel="icon" href="/favicon.ico" />

        <link rel="stylesheet" href="/dist/css/main.css">
        <link rel="stylesheet" href="/dist/css/pictures.css">
        <link rel="stylesheet" href="/dist/css/icons.css">
        <link rel="stylesheet" href="/dist/css/menu.css">
        <link rel="stylesheet" href="/dist/css/concert.css">
        <link rel="stylesheet" href="/dist/css/scroller.css">
        <link rel="stylesheet" href="/dist/fonts/cm_old_western/stylesheet.css">
        <script src="/dist/js/modernizr.custom.js"></script>
    </head>
    <body>

        <div class="container">

            {{ content }}

            {% include menu.html menu-show=page.menu menu-button-hidden=page.menu-button-hidden %}

        </div>


        <script src="/dist/js/classie.js"></script>
        <script src="/dist/js/borderMenu.js"></script>
        <script src="/dist/js/cbpScroller.js"></script>
        <script src="/dist/js/responsiveImage.js"></script>

        {% include piwik.html %}
    </body>
</html>
